body, html {
    background-color: #333333;
    font-family: 'Nunito Sans', sans-serif;
}

.field {
    padding: 1rem 0 2rem;
}

.main-section {
    padding: 0;
    height: calc(100% - 40px);
    position: absolute;
    width: 100%;
    background: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
}

.semitransparent-gradient {
    background: rgba(0,0,0,0.9);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.9)), color-stop(90%, rgba(0,0,0,0.9)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.full-background-video {
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}


.main-title {
    margin: 10% 0;
    color: #fafafa;
}

.chart-title {
    margin: 2rem 0;
    color: #fafafa;
}

.chart-container {
    margin-bottom: 2rem;
}

.stats-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 1em 2em;
    margin-bottom: 10rem;
}

.stats-container > .stats-list {
    margin-left: 1em;
    margin-top: 1em;
}




#songUriInput {
    background: rgba(255, 255, 255, 0.2);
    color: #fafafa;
}
#songUriInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #6a6a6a;
}
#songUriInput::-moz-placeholder { /* Firefox 19+ */
    color: #6a6a6a;
}
#songUriInput:-ms-input-placeholder { /* IE 10+ */
    color: #6a6a6a;
}
#songUriInput:-moz-placeholder { /* Firefox 18- */
    color: #6a6a6a;
}
